@import "cardindex.scss";
@import "cardproducto.scss";
@import "extend.scss";
@import "footer.scss";
@import "perfiles.scss";
@import "reclamo.scss";
@import "ubicacion.scss";
@import "reset.scss";
@import "nav.scss";
@import "formulario.scss";
@import "footer.scss";

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
@mixin perfiloide ($background){
    background-color: $background;
    margin-left: 30px;
    max-width: 1250px; 
}
/* Todo esto es Index*/

.d-block{
    height: 500px;
}
header{
    margin-top: 50px;
}
.slider{
    width: 100%;
    padding: 10px

}
.imagenFooter{
    width: 100%;
    padding: 5px;
}
/* Aca termina Index*/

/* Todo esto es productos*/
.tituloProductos{
    margin-left: 40px;
    font-weight: bolder;
}

.espacio{
    height: 20px;
}
.btnFiltro{
    display: none;
}

.btn-darko{
    width: 150px;
    margin-left: 20px;

}

/* Aca termina productos*/

